@using Samruk.Web.Helpers
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Прототип</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet() { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet() { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionType = ExtensionType.DocumentViewer }


        )
    @Html.DevExpress().GetScriptsEx(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionType = ExtensionType.DocumentViewer }
    )
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Прототип", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.IsUser(User.Identity.Name)) {
                        <li>@Html.ActionLink("Регистрационные данные", "RegistrationData", "Home")</li>
                        <li>@Html.ActionLink("Опросник", "Questionnaire", "Home")</li>
                    }
                    @if (HttpContext.Current.IsAuditor(User.Identity.Name)) {
                        <li>@Html.ActionLink("Перечень компаний", "CompanyList", "Home")</li>
                    }
                    @if (HttpContext.Current.IsAdministrator(User.Identity.Name)) {
                        <li>@Html.ActionLink("Настройка критериев", "CriteriaSetting", "Home")</li>
                        <li>@Html.ActionLink("Регистрация аудитора", "AuditorRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Прототип</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.RenderScripts()
</body>
</html>
